<!-- 全局js -->
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="__JS__/hplus.js?v=4.1.0"></script>
<script type="text/javascript" src="__JS__/contabs.js"></script>

<!-- 第三方插件 -->
<script src="__JS__/plugins/pace/pace.min.js"></script>

<!--111111111-->


<!-- Data picker -->
<script src="__JS__/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- Image cropper -->
<script src="__JS__/plugins/cropper/cropper.min.js"></script>
<script src="__JS__/demo/form-advanced-demo.js"></script>

<script src="__JS__/plugins/layer/laydate/laydate.js"></script>

</body>

</html>
